<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mapper.ActivityMapper">

    <!-- 查询所有 -->
    <select id="getAllActivities" resultType="entity.Activity">
        SELECT * FROM activity
    </select>
    <select id="findAll" resultType="entity.Activity">
        SELECT * FROM user
    </select>

    <!-- 根据标题查询 -->
    <select id="getActivityByActivityTitle" resultType="entity.Activity" parameterType="String">
        SELECT * FROM activity Act WHERE 1=1
        <if test="Act_Title != null">
            and Act.Act_Title = #{Act_Title,jdbcType = VARCHAR}
        </if>
    </select>

    <!--查询所有标题-->
    <select id = "getAllActivityTitles" resultType="String">
        SELECT Act_Title FROM activity
    </select>

    <!-- 添加公告 -->
    <insert id="addAnActivity" parameterType="entity.Activity">
        INSERT INTO activity(Act_Title, Act_Content, Act_Publish_Time,Act_Author, Act_Attachment)
        VALUES (#{Act_Title,jdbcType = VARCHAR},
         #{Act_Content,jdbcType = VARCHAR},
         #{Act_Publish_Time,jdbcType = VARCHAR},
         #{Act_Author,jdbcType = INTEGER},
         #{Act_Attachment,jdbcType = VARCHAR}
         )
    </insert>

    <!-- 删除公告 -->
    <delete id="deleteAnActivityByTitle" parameterType="String">
        DELETE FROM activity WHERE 1 = 0
        <if test="Act_Title != null">
            or Act_Title = #{Act_Title,jdbcType = VARCHAR}
        </if>
    </delete>

    <!-- 更新公告 -->
    <update id="updateAnActivityByTitle" parameterType="entity.Activity">
    </update>



  <!--  &lt;!&ndash; 根据ID查询 &ndash;&gt;
    <select id="findById" resultType="com.example.demo.entity.User" parameterType="Integer">
        SELECT * FROM user WHERE id = #{id}
    </select>
    &lt;!&ndash;登录&ndash;&gt;
    <select id="login" resultType="entity.Activity" parameterType="String">
        SELECT * FROM user WHERE username = #{param1} and password = #{param2}
    </select>

    &lt;!&ndash;登录&ndash;&gt;
    <select id="register" resultType="entity.Activity" parameterType="User">
        insert into user (username,password) values ( #{username} , #{password})
    </select>

    &lt;!&ndash; 创建 &ndash;&gt;
    <insert id="create" parameterType="entity.Activity">
        INSERT INTO user(username, password) VALUES (#{username}, #{password})
    </insert>

    &lt;!&ndash; 删除 &ndash;&gt;
    <delete id="delete" parameterType="Long">
        DELETE FROM user WHERE id = #{id}
    </delete>

    &lt;!&ndash; 更新 &ndash;&gt;
    <update id="update" parameterType="entity.Activity">
        UPDATE user SET WHERE 1=1
        <if test="username != null">
            username = #{username},
        </if>
        <if test="password != null">
            password = #{password}
        </if>
        WHERE id = #{id}
    </update>

    &lt;!&ndash; 根据用户名查询 &ndash;&gt;
    <select id="findByName" parameterType="String" resultType="entity.Activity">
        SELECT * FROM user WHERE username = #{username}
    </select>-->
</mapper>
