<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.CommentMapper">

    <!-- 查询所有 -->
    <select id="getAllComments" resultType="entity.Comment">
        SELECT * FROM comment
    </select>

    <!-- 根据标题查询 -->
    <select id="getCommentByUser" resultType="entity.Comment" parameterType="INTEGER">
        SELECT * FROM comment Cmt, user u WHERE Cmt.Sno = u.Sno
        <if test="Sno != null">
            and Cmt.Sno = #{Nt_Title,jdbcType = VARCHAR}
        </if>
        SELECT * FROM Comment
    </select>

    <!-- 根据标题查询 -->
    <select id="getCommentByCommentTitle" resultType="entity.Comment" parameterType="String">
        SELECT * FROM Comment Nt WHERE 1=1
        <if test="Nt_Title != null">
            and Nt.Nt_Title = #{Nt_Title,jdbcType = VARCHAR}
        </if>
    </select>

    <!--查询所有标题-->
    <select id = "getAllCommentTitles" resultType="String">
        SELECT Nt_Title FROM Comment
    </select>

    <!-- 添加公告 -->
    <insert id="addAComment" parameterType="entity.Comment">
        INSERT INTO Comment(Nt_Title, Nt_Content, Nt_Publish_Time,Nt_Author, Nt_Attachment)
        VALUES (#{Nt_Title,jdbcType = VARCHAR},
         #{Nt_Content,jdbcType = TEXT},
         #{Nt_Publish_Time,jdbcType = DATETIME},
         #{Nt_Author,jdbcType = INTEGER},
         #{Nt_Attachment,jdbcType = TEXT}
         )
#
    </insert>

    <!-- 删除公告 -->
    <delete id="deleteACommentByTitle" parameterType="String">
        DELETE FROM Comment WHERE 1 = 0
        <if test="Nt_Title != null">
            or Nt_Title = #{Nt_Title,jdbcType = VARCHAR}
        </if>
    </delete>

    <!-- 更新公告 -->
    <update id="updateACommentByTitle" parameterType="entity.Comment">
        UPDATE Comment
        <trim prefix = "set" suffixOverrides=",">
            <if test = "Nt_Title != null">Nt_Title = #{Nt_Title,jdbcType = VARCHAR},</if>
            <if test = "Nt_Content != null">Nt_Content = #{Nt_Content,jdbcType = TEXT},</if>
            <if test = "Nt_Publish_Time != null">Nt_Publish_Time = #{Nt_Publish_Time,jdbcType = DATETIME},</if>
            <if test = "Nt_Author != null">Nt_Author = #{Nt_Author,jdbcType = INTEGER},</if>
            <if test = "Nt_Attachment != null">Nt_Attachment = #{Nt_Attachment,jdbcType = TEXT}</if>
        </trim>
        WHERE 1 = 0
        <if test="Nt_Title != null">
            or Nt_Title = #{Nt_Title,jdbcType = VARCHAR}
        </if>
    </update>

</mapper>
